.data-grid-action-button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0;
  cursor: pointer;
}

.data-grid-action-view {
  background-color: #d1d5db;
}

.data-grid-action-view:hover {
  background-color: #9ca3af;
}

.data-grid-action-edit {
  background-color: #bfdbfe;
}

.data-grid-action-edit:hover {
  background-color: #93c5fd;
}

.data-grid-action-delete {
  background-color: #fecaca;
}

.data-grid-action-delete:hover {
  background-color: #fca5a5;
}
