@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import 'tailwindcss';

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
