@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import 'tailwindcss';

@theme {
  --color-bg: #fdf4ff;
  --color-claro: #d946ef;
  --color-oscuro: #701a75;
  --color-hover: #4a044e;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
